#home{
  font-family: 'Poppins', sans-serif;

}

.relative {
     left: 5%;
     right: 5%;
     text-align: left;
}

.carousel-item {
     height: 100%;
     width: 100%;
}
#banner1 .carousel-item img {
    width: 100%; 
    height: 100vh;
}
.willom {
    display: flex;
    margin-top: -85px;
}
.willom h1 {
    font-size: 70px;
    line-height: 70px;
    color: #fff;
    font-weight: bold;
    margin: 0 auto;
    text-align: center;
    background: #6b7908;
    display: inline-block;
    padding: 4%;
    border-radius: 30px;
    
}
@media (max-width:768px ){
  .willom h1 {
    font-size: 45px;
 
  
}
}
@media (max-width:320px ){
  .willom h1 {
    font-size: 30px;
    
    
}
}  

.slider_main .carousel-indicators {
     display: none;
}

.read_more {
  font-size: 16px;
  background: #323232;
  max-width: 203px;
  width: 100%;
  transition: ease-in all 0.5s;
  color: #fff;
  display: block;
  height: 80px;
  line-height: 80px;
  text-align: center;
  border-radius: 5px;
  text-transform: uppercase;
  font-weight: bold;
}

.read_more:hover {
  background: #6b7908;
  color: #fff;
}

.titlepage span  {
  font-size: 24px;
  color: #6b7908;
  line-height: 30px;
  font-weight: bold;
  padding-bottom: 15px;
  display:block;
  text-transform: uppercase;
}
.titlepage h2 {
  font-size: 50px;
  color: #999998;
  line-height: 50px;
  font-weight: bold;
  display: block;
  text-transform: uppercase;
}

.slider-main .carousel .carousel-inner .carousel-item:before{
	content: "";
	position: absolute;
	background: rgba(0,0,0,0.5);
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
}
.carousel-item {
  height: 88vh;
  min-height: 300px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.carousel-control-prev, .carousel-control-next {
     width: 80px;
     height: 80px;
     background-color: rgb(107, 121, 8, 0.6);
     color: #000000;
     font-size: 60px;
     opacity: 1;
     top: 50%;
    
     z-index: 999;
     border-radius: 10px;
}

.carousel-caption{
     background-color: rgb(255, 255, 255,0.5);
}

.about{
  margin-top: 4%;
}

/** contact ACABADO**/

.contact {
  background-image: linear-gradient(120deg, rgb(107, 121, 8,0.7) 0%, rgba(243, 243, 243, 0.7) 100%),url(../../../assets/imagenes/contact.jpg);
  background-position: center center;
  padding:20px 0;
  margin: 2% 0;
}
.formf{
    padding-bottom: 30px;
}
.formf h2{
    color: rgb(39, 39, 39);
    
}
@media (max-width:768px) {
  .formf h2{
    font-size: 40px;
  }
}
@media (max-width:320px) {
  .formf h2{
    font-size: 30px;
  }
}
.formulario .form-i{
    margin: 2% 0;
}
.formulario .form-i label{
    color: #000;
    font-weight: 500;
    font-size: 18px;
}

.formulario .form-i input{
    border: 2px  #6b7908 solid;
    color: #000;
}

.formulario .form-i textarea{
    border: 2px  #6b7908 solid;
    color: #000;
}

.btn-send {
  font-size: 20px;
  transition: ease-in all 0.5s;
  background-color: #323232;
  color: #fff;
  width: 100%;
  display: block;
  font-weight: 500;
  height: 50px;
  margin: 0 5px;
  border-radius: 10px;
}

.btn-send:hover {
  background-color: #6b7908;
  transition: ease-in all 0.5s;
  color: #fff;
}
.form-contact{
    display: flex;
}

.form-contact .form-i{
    margin: 1% auto;
}

.map-responsive{
    margin: 2% 0;
}
#request *::placeholder {
  color: #d0d0cf;
  opacity: 1;
}
.card-red{
    display: flex;
    justify-content:space-evenly;
}
.card-red button{
    text-align: center;
    width: 20%;
    padding: 0.5rem;
    border-radius: 10px;
    font-size: 19px;
}
.card-red .fa-whatsapp{
    color: green;
    font-weight: 900;
}
.card-red .fa-facebook-f{
    color: blue;
    font-weight: 900;
}
.datepicker-days {
  padding: 20px;
}
@media (max-width:768px) {
    .card-red button{
       
        width: 40%;
        padding: 0.5rem;
        
        font-size: 18px;
    }
}
/** end contact  **/
