.services {
  /* background: rgb(145, 202, 110); */
  margin-bottom: 2%;
}

.veget {
  padding: 40px;
  border-radius: 5px 5px 0 0;
  margin-top: -5px;
  position: relative;
  background: #fff;
}

.services_box_main .read_more {
  margin: 0 auto;
  display: block;
}

.products {
  padding: 60px 0 30px 0;
  margin-bottom: 90px;
  background-color: #f4f4f4;
}

.products .titlepage {
  text-align: left;
}

.our_products {
  padding: 0 15px 15px 15px;
  transition: ease-in all 0.3s;
  margin-bottom: 30px;
  box-shadow: 0 0 38px rgba(15, 17, 22, 0.1);
  height: max-content;
}

#ho_bo:hover.our_products {
  box-shadow: 0px 0px 9px rgba(79, 248, 28, 0.651);
  transition: ease-in all 0.3s;
  margin-top: -10px;
  cursor: pointer;
  background-color: #fff;
}

.our_products h3 {
  margin-top: 15px;
  font-size: 24px;
  line-height: 31px;
  color: #000;
  font-weight: bold;
  padding-bottom: 10px;
  color: #292928;
  text-align: center;
  
}

.our_products span {
  font-size: 17px;
  line-height: 20px;
  font-weight: 500;
  color: #ff3556;
}

.our_products p {
  font-size: 15px;
  line-height: 21px;
  font-weight: 400;
  color: #000000;
  text-align:center ;
}

.product {
  background-color: #fff;
  text-align: center;
  margin: 0 -15px 0px -15px !important;
}

.product figure {
  margin: 0;
}

.btn-p {
  font-size: 16px;
  background: #323232;
  max-width: 203px;
  width: 100%;
  transition: ease-in all 0.5s;
  color: #fff;
  display: block;
  height: 60px;
  margin: 2% 10%;
  text-align: center;
  border-radius: 5px;
  text-transform: uppercase;
  font-weight: bold;
}
li .active {
  background: #6b7908;
  color: #fff;
}
.btn-p:hover {
  background: #6b7908;
  color: #fff;
}
.tab-pane{
  background-color: #ffffff;
}