<div class="services cuerpo">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="titlepage text_align_left">
          <span>Nuestros Productos</span>
          <h2>PLANTAS</h2>
        </div>
      </div>
    </div>
    <!-- Carta -->
    <ul
      class="nav nav-pills mb-3 justify-content-center"
      id="pills-tab"
      role="tablist"
    >
      <li class="nav-item" role="presentation">
        <button
          class="nav-link active btn-p"
          id="pills-home-tab"
          data-bs-toggle="pill"
          data-bs-target="#pills-home"
          type="button"
          role="tab"
          aria-controls="pills-home"
          aria-selected="true"
        >
          Plantas
        </button>
      </li>
      <li class="nav-item" role="presentation">
        <button
          class="nav-link btn-p"
          id="pills-profile-tab"
          data-bs-toggle="pill"
          data-bs-target="#pills-profile"
          type="button"
          role="tab"
          aria-controls="pills-profile"
          aria-selected="false"
        >
          Complementos
        </button>
      </li>
    </ul>
    <div class="tab-content" id="pills-tabContent">
      <div
        class="tab-pane fade show active"
        id="pills-home"
        role="tabpanel"
        aria-labelledby="pills-home-tab"
        tabindex="0"
      >
        <div class="row">
          <div
            class="col-lg-3 col-md-6 col-sm-6"
            *ngFor="let plantas of plantas"
          >
            <div id="ho_bo" class="our_products">
              <div class="product">
                <figure>
                  <img src="{{ plantas.img }}" alt="" />
                </figure>
              </div>

              <h3>{{ plantas.nombre }}</h3>
             
              <p>
                {{ plantas.descripcion }}
              </p>
            </div>
          </div>
        </div>
      </div>
      <div
        class="tab-pane fade"
        id="pills-profile"
        role="tabpanel"
        aria-labelledby="pills-profile-tab"
        tabindex="0"
      >
        <div class="row">
          <div
            class="col-lg-3 col-md-6 col-sm-6"
            *ngFor="let productos of productos"
          >
            <div id="ho_bo" class="our_products">
              <div class="product">
                <figure>
                  <img src="{{ productos.img }}" alt="" />
                </figure>
              </div>
              <h3>{{ productos.nombre }}</h3>
              <p>
                {{ productos.descripcion }}
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
