<div class="footer">
      <div class="container">
        <div class="row">
          <div class="col-lg-4 col-md-6 titulof">
            <h3>Amanecer</h3>
            <p>Asociacion de pequeños productores de plantas Cochabamba-Bolivia</p>
          </div>

          <div class="col-lg-4 col-md-6 menuf">
            <div class="menu-footer">
              <span><a href="index.html">Inicio</a></span>
              <span><a href="about.html">Nosotros</a></span>
              <span><a href="service.html">Productos</a></span>
              <span><a href="contact.html">Contacto</a></span>
            </div>
            <p class="copyright">
              © 2023 Derechos de Autor. Diseñado por
              <a href="https://html.design/">Camila Muñoz</a>
            </p>
          </div>

          <div class="col-lg-4 col-md-12 social-red">
            <a class="redes" href="#">
              <i class="fa-brands fa-whatsapp"></i></a>

            <a class="redes" href="https://www.facebook.com/AmanecerCBBA" target="_blank">
              <i class="fa-brands fa-facebook-f"></i>
            </a>
            <a class="redes" href="https://www.facebook.com/AmanecerCBBA">
              <i class="fa-solid fa-envelope"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
